# Killboard config
kbconfig.php

# installation lock file
install/install.lock

# cache files
cache/templates_c/
!cache/templates_c/.htaccess
cache/store/
!cache/store/.htaccess
cache/page/
!cache/page/.htaccess
cache/mails/
!cache/mails/.htaccess
cache/api/
!cache/api/.htaccess
cache/SQL/
!cache/SQL/.htaccess
cache/pheal/
!cache/pheal/.htaccess
cache/error.log
cache/evecentral/
cache/img
cache/update
cache/pheal_access.log
cache/pheal_error.log
cache/EDKprofile.lst

# IDE/Editor temporary files
*~
*.swp
*.bak
.buildpath
.cache
.project
.settings
.idea

# IIS7 
web.config

