# Killboard config
kbconfig.php

# installation lock file
install/install.lock

# cache files
cache/templates_c/
!cache/templates_c/.htaccess
cache/store/
!cache/store/.htaccess
cache/page/
!cache/page/.htaccess
cache/mails/
!cache/mails/.htaccess
cache/api/
!cache/api/.htaccess
cache/SQL/
!cache/SQL/.htaccess
cache/pheal/
!cache/pheal/.htaccess
cache/error.log
cache/killadded.mk
cache/evecentral/
cache/img
cache/update
cache/pheal_access.log
cache/pheal_error.log

# IDE/Editor temporary files
*~
*.swp
*.bak
.buildpath
.cache
.project
.settings

# IIS7 
web.config

# Untrack custom mods
mods/
!mods/ajcron/
!mods/forum_post/
!mods/known_members/
!mods/mail_editor/
!mods/mail_forward/
!mods/rss_feed/
!mods/signature_generator/
!mods/.htaccess
!mods/index.php

# Untrack custom themes
themes/
!themes/default/
!themes/xhtml/
!themes/generic.js
!themes/genericfitting.css
