.kb_table_involved
{
  font-family: "georgia", "verdana", "arial", "sans-serif";
  font-size: 10px;
  color: #e0e0e0;
  padding: 0px;
  border: 1px solid #444444;
  border-collapse: separate;
  border-spacing: 1px;
}

.kb-table-header
{
  font-size: 11px;
}
