html, body
{
	margin: 0px;
	color: #dfdfdf;
	padding: 0px;
	height: 100%;
	background-color: #222222;
}

div.navigation
{
	background: #111111;
	padding: 0px;
	border-collapse: separate;
	border-spacing: 1px;
}

div.navigation > table
{
	width:100%;
	height:25px;
	border:0;
	table-layout: fixed;
}

div.navigation tr
{
	background: #292929;
}

div.navigation td
{
	text-align:center;
}

div.navigation a
{
	display: block;
}
font,th,td,p,a,div
{
	font-family: Verdana, "Bitstream Vera Sans", Arial, Helvetica;
}

td
{
	padding: 1px;
}

.main-table
{
	width: 950px;
	height: 100%;

	border-left: 1px solid #555555;
	border-right: 1px solid #555555;
	border-top: 0px solid #555555;
	border-bottom: 0px solid #555555;
	padding: 0px;
	border-collapse: separate;
	border-spacing: 0px;
}

.kill-points
{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

input, button, select
{
	border: 1px solid #eeeeee;
	font-size: 9px;
}

#content
{
	margin-top: 10px;
	padding: 10px;
	width: 760px;

	background: #111111;

	font-size: 11px;
}

#context, .context_element
{
	width: 145px;
	padding: 10px;
}

.context_element
{
	width: 145px;
	margin-bottom: 10px;
}

div.bar
{
	height: 6px;
	background: #ffa500;
	border-bottom: 1px #ac7000 solid;
	border-right: 1px #ac7000 solid;
	font-size: 4px;
}

div.bar-background
{
    height: 6px;
    background: #7F0F1E;
    font-size: 4px;
}

div.bar-red
{
	height: 8px;
	background: #330000;
	border-bottom: 1px #220000 solid;
	border-right: 1px #220000 solid;
}

.box-title
{
	background: #333333;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
}

.box-content
{
	padding: 10px;
	margin-bottom: 20px;
	width: 150px;
}

.menu-wrapper
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu-caption
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	padding-left: 5px;
}

.menu-item
{
	font-weight: bold;
	padding-left: 15px;
}

#page-title
{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	padding-top: 3px;

	height: 25px;
	color: #cccccc;
	border-bottom: 1px solid #777777;

	font-size: 16px;
	font-weight: bold;
}
/* caption over boxes - Involved parties */
.block-header
{
	margin-top: 10px;
	margin-bottom: 10px;

	color: #cccccc;

	font-size: 12px;
	font-weight: bold;
}
/* for exampe Awards for April 2007 */
.block-header2
{
	margin-top: 10px;
	margin-bottom: 10px;

	color: #cccccc;

	font-size: 12px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #777777;
}

.f_killmail
{
	font-size: 10px;
}

textarea.killmail
{
	font-size: 11px;
}

.link
{
	padding-right: 5px;
}

.kb-table, .kb-subtable
{
	font-size: 10px;
	color: #e0e0e0;
	padding: 0px;
}

.kb-table
{
	border: 1px solid #444444;
	border-collapse: separate;
	border-spacing: 1px;
}

.kb-table-title
{
	height: 10px;
}
/* Ship type */
.kb-table-header
{
	height: 15px;
	background: #555555;
	font-size: 10px;
	font-weight: bold;
	padding: 4px;
}

.kb-table-row-odd
{
	background: #292929;
}

.kb-table-row-even
{
	background: #222222;
}

.kb-table-row-slot
{
	background: #292929;
}

.kb-table-row-destroyed
{
	background: #222222;
}

.kb-table-row-dropped
{
	background: green;
}
/* over Kill in home */
.kb-table-row-hover,
.contractlist tr:hover,
.kb-kl-table .kb-table-row-even:hover,
.kb-kl-table .kb-table-row-odd:hover
{
	color: #222222;
	background: #DD9300;
	cursor: pointer;
}

img.finalblow
{
	border: 1px solid #FFA500;
	width: 64px;
	height: 64px;
}

img.avatar
{
	border: 1px solid #333333;
}

img.icon
{
	border: 1px solid #333333;
}

td.item-icon,
th.item-icon
{
	border: 1px solid #333333;
	height: 32px;
	width: 32px;
}

div.item-icon
{
	position:absolute;
	border: none;
	height:32px;
	width:32px;
	text-align:left;
}

img.icon-hover
{
	border: 1px solid #DD9300;
	cursor: pointer;
}

td.avatar-name
{
	font-size: 10px;
	font-weight: bold;
	color: #cccccc;
}

td.killmail
{
	font-family: "Courier New", Courier;
	font-size: 11px;
	color: #dddddd;
}

td.battleship
{
	background: #DD9300;
}

.kb-table td,
.kb-table th
{
	padding: 2px;
}

td.kb-table-imgcell
{
	padding: 0px;
	height: 32px;
	width: 32px;
	vertical-align: middle;
}

td.kb-table-imgcell > img
{
	margin-bottom: -3px;
}

.kb-date-header
{
	background-image: url("../../img/day.gif");
	background-repeat: no-repeat;
	background-position: 0px 16px;

	color: #cccccc;

	font-size: 13px;
	font-weight: bold;

	padding-left: 20px;
	padding-top: 15px;
}

.kb-contracts-header
{
	background-image: url("../../img/contract.gif");
	background-repeat: no-repeat;
	background-position: 0px -3px;

	margin-top: 10px;
	margin-bottom: 15px;

	color: #cccccc;

	font-size: 12px;
	font-weight: bold;
	padding-left: 25px;
	padding-bottom: 5px;
	border-bottom: 1px solid #777777;

}

.kb-campaigns-header
{
	background-image: url("../../img/campaign.png");
	background-repeat: no-repeat;
	background-position: 0px -3px;

	margin-top: 10px;
	margin-bottom: 10px;

	color: #cccccc;

	font-size: 12px;
	font-weight: bold;
	padding-left: 25px;
	padding-bottom: 5px;
	border-bottom: 1px solid #777777;

}

.kb-kills-header
{
	background-image: url("../../img/kills.png");
	background-repeat: no-repeat;
	background-position: 0px -3px;

	margin-top: 10px;
	margin-bottom: 10px;

	color: #cccccc;

	font-size: 12px;
	font-weight: bold;
	padding-left: 25px;
	padding-bottom: 5px;
	border-bottom: 1px solid #777777;
}

.kb-losses-header
{
	background-image: url("../../img/losses.png");
	background-repeat: no-repeat;
	background-position: 0px -3px;

	margin-top: 10px;
	margin-bottom: 10px;

	color: #cccccc;

	font-size: 12px;
	font-weight: bold;
	padding-left: 25px;
	padding-bottom: 5px;
	border-bottom: 1px solid #777777;
}

.kb-contract-target-header
{
	background-image: url("../../img/contract-target.gif");
	background-repeat: no-repeat;
	background-position: 0px -3px;

	margin-top: 10px;
	margin-bottom: 10px;

	color: #cccccc;

	font-size: 12px;
	font-weight: bold;
	padding-left: 25px;
	padding-bottom: 5px;
	border-bottom: 1px solid #777777;
}
.kl-kill, .kl-loss, .kl-kill-null, .kl-loss-null
{
	text-align: center;
}
.kl-kill-null, .kl-loss-null
{
	color: #aaaaaa;
}

td.kl-kill-null-bg
{
	color: #999999;
	background: #003300;
}

td.kl-loss-null-bg
{
	color: #999999;
	background: #330000;
}

td.kl-kill
{
	color: #00aa00;
	font-weight: bold;
}

.kl-loss
{
	color: #aa0000;
	font-weight: bold;
}

td.kl-kill-bg
{
	background: #003300;
	color: #00bb00;
	font-weight: bold;
}

td.kl-loss-bg
{
	background: #330000;
	color: #bb0000;
	font-weight: bold;
}

#weeknav
{
	right: 0px;
	top: 20px;
}

td.weeknav
{
	color: #666666;
	font-size: 9px;
	font-weight: bold;
}

select.kb-select
{
	font-size: 10px;
	width: 210px;
}

input.kb-input
{
	font-size: 10px;
}

a:link {
	color: #FFA500;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

a.kb-table-row-hover:link {
	color: #333333;
}

a:visited {
	color: #FFA500;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

a:active {
	color: #FFA500;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #FFA500;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}
.counter
{
	border-top:solid 1px;
	border-color:#666666;
	display: block;
	text-align:right;
	padding-right:5px;
	padding-top:5px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 5px;
	text-decoration: none;
}
.comment {
	background-color: #292929;
	border: 1px solid;
	border-color: #292929;
	margin-top: 5px;
	padding-top: 8px;
	padding-left: 8px;
	color: #cccccc;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

.comment:focus {
	border-color: #FFFFFF;
}
.comment-button {
	background-color: #292929;
	border: 1px solid;
	border-color: #292929;
	color: #cccccc;
	font-size: 12px;
	margin-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}
.comment-button:focus {
	border-color: #FFFFFF;
}
#comments-wrap {
	border-top:#333333 thin solid;
	width:250px;
	margin-top:15px;
	float:left;
	clear:left;
	color: #cccccc;
	font-size: 12px;
}
.comment-text {
	padding:5px;
	border-bottom-width:thin;
	border-bottom-style:solid;
	border-bottom-color: #333333;
	overflow: hidden;
}
#countdown {
	border:0px;
	background-color:#000000;
	color: #cccccc;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.popup-table
{
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	background-color:#333333;
}
.killcount
{
	color: #ffffff;
	font-weight: bold;
	font-size:9px;
	padding-right:4px;
}
.losscount
{
	color: #dd0000;
	font-weight: bold;
	font-size:9px;
}

.kb-summary-summary > .losscount
{
	text-align: left;
}
.kb-summary-summary > .killcount
{
	text-align: right;
}
.kb-table-row-even-kill
{
	background: #005000;
}

.kb-table-row-odd-kill
{
	background: #004000;
}

.kb-table-row-even-loss
{
	background: #a00000;
}

.kb-table-row-odd-loss
{
	background: #900000;
}

.kb-table-row-even-kill:hover
{
	color: #FFFFFF;
	background: #0083CC;
	cursor: pointer;
}

.kb-table-row-odd-kill:hover
{
	color: #FFFFFF;
	background: #0083CC;
	cursor: pointer;
}

.kb-table-row-odd-loss:hover
{
	color: #222222;
	background: #DD9300;
	cursor: pointer;
}

.kb-table-row-even-loss:hover
{
	color: #222222;
	background: #DD9300;
	cursor: pointer;
}

div.kb-shiptype
{
	float: left;
	margin-top: 3px;
	padding-left: 3px;
}

div.kb-shipicon
{
	float: right;
	height: 32px;
}

td.kb-shipfilter
{
	font-family: Verdana, Tahoma;
	font-size: 12px;
}

a.kb-shipclass:visited {
	color: #dddddd;
}

a.kb-shipclass:link {
	color: #dddddd;
}

a.kb-shipclass-hl:link {
	color: #FFA500;
	text-decoration: underline;
}

a.kb-shipclass-hl:active {
	color: #FFA500;
	text-decoration: underline;
}

a.kb-shipclass-hl:visited {
	color: #FFA500;
	text-decoration: underline;
}

a.kb-shipclass:active {
	color: #dddddd;
}

a.kb-shipclass:hover {
	color: #dddddd;
	text-decoration: underline;
}

a.kb-contract:link {
	font-size: 12px;
}

a.kb-contract:visited {
	font-size: 12px;
}
#content
{
	float: left;
}

#context, .context_element
{
	float: right;
}

.context_element > *
{
	width: 150px;
	margin-bottom: 10px;
}
#main
{
	width: 950px;

	background: #111111;
	border-left: 1px solid #555555;
	border-right: 1px solid #555555;
	border-top: 0px solid #555555;
	border-bottom: 0px solid #555555;
	padding: 0px;
	border-collapse: separate;
	border-spacing: 0px;
	margin: auto;
}

.stats
{
	margin-bottom: 5px;
}
.summarytable
{
	margin-bottom: 5px;
}
.klsplitter
{
	margin-bottom: 5px;
	margin-top: 5px;
}
.kltable
{
	text-align: center;
}
#profile
{
	clear: both;
	padding: 0;
	margin: 0;
	font-size: 10px;
	color: #e0e0e0;
	float: right;

}
.kb-kl-table a:link, .kb-kl-table a:visited
{
	color: #e0e0e0;
	font-size: inherit;
	font-weight: inherit;
}
.counter
{
	clear: both;
}
.kl-detail-victim, .kl-detail-invsum, .kl-detail-inv, .kl-detail-comments,
.kl-detail-vicship, .kl-detail-shipdetails, #kl-detail-fitting
{
	margin-bottom: 10px;
}
#kl-detail-left, #kl-detail-right
{
	text-align:left;
	vertical-align:top;
	margin-bottom: 10px;
}
#kl-detail-left
{
	width:340px;
	float:left;
}
#kl-detail-right
{
	width:398px;
	float:right;
}
#popup
{
	display:none;
	position:absolute;
	top:217px;
	left:350px;
	width:99%;
	z-index:5;
	padding: 5px;
	text-align:center;
}
.mod_name
{
	margin-top: 5px;
	font-weight: bold;
}

div.awardbox
{
	vertical-align:top;
	text-align:center;
	float:left;
	width:150px;
	height:480px;
	margin: 0 20px 10px 20px;
}

.no_stretch
{
	overflow: hidden;
	white-space: nowrap;
}

.contractlist
{
	border-spacing: 1px;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
	width:98%;
}

.contractlist tr td:first-child
{
	text-align: left;
}

.contractlist tr.kb-table-header td.kb-date
{
	width:80px;
}

.contractlist tr.kb-table-header td.killcount
{
	width:50px;
}

.contractlist tr.kb-table-header td.iskcount
{
	width:70px;
}

.contractlist tr.kb-table-header td.efficiency
{
	width:120px;
}

.contractlist td.kb-date
{
	text-align: center;
}
.contractlist efficiency
{
	width:75px;
	text-align: left;
}

.contractlist .efficiency_percent
{
	width:40px;
}

.contractlist .name
{
	font-weight: bold;
}
.contract-stats
{
	width:100%;
	border-spacing: 1px;
	table-layout: fixed;
	margin-bottom: 10px;
	font-weight: bold;
}

.contract-stats td
{
	text-align: left;
}

.contract-stats .kb-date
{
	width: 120px;
}

.contract-stats .contract-data-name
{
	width: 206px;
}
td.contract-logo
{
	height: 80px;
	text-align: center;
	width: 80px;
}

.contract-list-summary td.kl-kill-bg,
.contract-list-summary td.kl-loss-bg
{
	width: 60px;
	text-align: center;
}

.contract-summary-name
{
	width: 112px;
	font-weight: bold;
}

.contract-list-efficiency .efficiency_percent,
.contract-list-efficiency .efficiency_bar
{
	width: 120px;
	font-weight: bold;
}
.kb-box
{
	width:150px;
	border-spacing: 1px;
	margin-bottom: 10px;
}

.kb-box > tr > td
{
	text-align: left;
}

.kb-box .kb-table-header
{
	text-align: center;
}

img
{
	border: 0;
}

.summarytable td
{
	vertical-align:top;
}

.kb-summary-summary
{
	width: 100%;
	text-align: center;
}
.kb-summary-summary > div
{
	display: inline-block;
	width: 48%;
}

.kb-summary-clear
{
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

.summarysubtable
{
	border-spacing:1px;
	width:100%
}

.summarytable > table
{
	width:760px;
	border-collapse:collapse
}

.summarytable-verbose
{
	width:60px;
	text-align:center
}

.summarytable-brief
{
	width:30px;
	text-align:center
}
.kb-kl-table
{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width:760px;
}

.kl-shiptype
{
	width:190px;
}

.kl-victim
{
	width:208px;
}

.kl-finalblow
{
	width: 175px;
}

.kl-location
{
	width: 164px;
	text-align:left;
	height:auto;
}

.kl-shiptype-text
{
	width:157px;
}

.kl-victim-text
{
	width:175px;
}

.kb-kl-table tr.kb-table-header > td
{
	text-align:center;
}

.kb-kl-table td
{
	vertical-align: middle;
}
.kl-inv-comm
{
	float:left;
	vertical-align: middle;
}

.kl-inv-comm img
{
	vertical-align: middle;
}

.kl-date
{
	float: right;
}

table.awardbox td.kb-table-header
{
	text-align: center;
}

table.awardbox table
{
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

.awardbox-top td
{
	text-align: center;
	font-weight: bold;
}

.awardbox-num
{
	width: 15px;
}

.awardbox-count
{
	text-align: right;
}

.awardbox-comment
{
	text-align: center;
}

.awardbox .kb-table-header
{
	text-align: center;
}

.kb-clock
{
	text-align: center;
}
.kb-clock .kb-subtable
{
	border-collapse: collapse;
	width: 100%;
}

#clock
{
	font-weight: bold;
}

.alliance-detail .logo,
.corp-detail .logo,
.pilot-detail .logo
{
	background-color:black;
	height:128px;
	text-align:center;
	width:128px;
}

.alliance-detail .attribute-name,
.corp-detail .attribute-name
{
	width: 130px;
}

.pilot-detail .attribute-name
{
	width: 180px;
}

.alliance-detail .attribute-data-short,
.corp-detail .attribute-data-short
{
	width: 90px;
}

.alliance-detail .attribute-data-long,
.corp-detail .attribute-data-long
{
	width: 270px;
}

.alliance-detail td,
.corp-detail td,
.pilot-detail td
{
	text-align: left;
	font-weight: bold;
}

.alliance-detail td:last-child,
.corp-detail td:last-child
{
	font-weight: normal;
}

.corp-detail .description
{
	height:100px;
	overflow:auto;
	width:100%;
}

.pilot-detail.stats > table
{
	width: 100%;
	table-layout: fixed;
}

.toplist-table
{
	border-spacing: 1px;
	width: 306px;
}

.toplist-table td:first-child
{
	padding: 0;
}

.toplist-table tr
{
	height: 32px;
}

.toplist-table .kb-table-header
{
	height: 16px;
	text-align: center;
}

.toplist-name
{
	width: 200px;
}

.toplist-rank
{
	width: 60px;
}

.toplist-table td:nth-child(3)
{
	text-align: center;
}

.toplist-table .kb-table-header
{
	text-align: center;
}

.kl-detail-victim > table,
.kl-detail-vicship > table,
.kl-detail-inv > table,
.kl-detail-comments > table
{
	width: 100%;
	border-collapse: separate;
}
.kl-detail-victim .logo
{
	width: 68px;
	text-align: center;
}
.kl-detail-victim .logo > img,
.kl-detail-vicship .logo > img
{
	width: 64px;
	height: 64px;
}
.kl-detail-victim .attribute-name
{
	width: 68px;
	font-weight: bold;
}
.kl-detail-victim .attribute-data
{
	width: 198px;
}
.kl-detail-victim td
{
	font-weight: bold;
}
.kl-detail-vicship .logo
{
	width: 68px;
	text-align: center;
}
.kl-detail-vicship td.logo
{
	width: 64px;
	height: 64px;
	text-align: center;
}
.kl-detail-vicship .attribute-name
{
	width:118px;
	font-weight: bold;
}
.kl-detail-vicship .attribute-data
{
	width: 206px;
}
.kl-detail-vicship td
{
	font-weight: bold;
}
.kl-detail-vicship td:last-child
{
	font-weight: normal;
}
.kl-detail-inv .logo
{
	text-align: center;
	width: 70px;
}
.kl-detail-inv .attribute-data
{
	width: 194px;
}
.kl-detail-inv td.logo
{
	height: 66px;
	vertical-align: middle;
	width: 66px;
}
.kl-detail-inv td
{
	padding: 1px 2px;
}
.kl-detail-comments-outer
{
	width:100%;
	text-align:left;
	vertical-align:top;
}
.kl-detail-comments-inner
{
	border-collapse: collapse;
	width:100%;
}

td.finalblow
{
	text-align: center;
	width: 64px;
}
.violentsystems td:first-child
{
	font-weight: bold;
	width:25px
}
.violentsystems td:nth-child(2)
{
	width:215px
}
.violentsystems td:last-child
{
	text-align: center;
	width:60px;
}
.invtype > div
{
	width: 360px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.invtype > div:first-child
{
	margin-right: 30px;
	margin-left: 5px;
}
.invtype img.logo
{
	float: left;
	height: 64px;
	margin-right: 10px;
	width: 64px;
}
.invtype img.icon
{
	height: 32px;
	width: 32px;
}
.invtype table.kb-table,
.kl-detail-shipdetails table.kb-table
{
	width:100%;
}
.invtype td.description
{
	text-align: left !important;
}
.invtype table.kb-table td:first-child
{
	height:32px;
	width:32px;
}
.invtype table.kb-table td:nth-child(2)
{
	font-weight: bold;
}
.invtype table.kb-table td:last-child
{
	width:100px;
	text-align: right;
}
.kl-detail-shipdetails tr.kb-table-row-odd > td:nth-child(3)
{
	text-align:center;
	width:30px;
}
.kl-detail-shipdetails tr.kb-table-row-odd > td:last-child
{
	text-align:right;
}
.kl-detail-shipdetails tr.summary
{
	text-align: right;
}
.kl-detail-shipdetails tr.summary.bpo,
.kl-detail-shipdetails tr.summary.itemdrop,
.kl-detail-shipdetails tr.dropped
{
	background-color: #060;
}
.kl-detail-shipdetails tr.summary.bpo td,
.kl-detail-shipdetails tr.summary.itemdrop td
{
	border: 1px solid green
}
.kl-detail-shipdetails tr.summary td:first-child
{
	font-weight: bold;
}
.kl-detail-invsum > table.kb-table
{
	width:100%;
}
.kl-detail-invsum td
{
	vertical-align: top;
}
.kl-detail-invsum td.invcorps,
.kl-detail-invsum td.invcorps > div.no_stretch
{
	width:210px;
}
.kl-detail-invsum td.invships,
.kl-detail-invsum td.invships > div.no_stretch
{
	width:117px;
}
/* Disable default styles that are in the way.
TODO: remove when this is default */
.killcount, .losscount
{
	float:none;
}
#context, .context_element
{
	margin-top: 0;
}
.comment-button {
	padding-left: 0;
}