@import "default.css";

div.bar
{
	background: #849DD4;
	border-bottom: 1px #39475F solid;
	border-right: 1px #39475F solid;
}

.kb-table-header
{
	background: #39475F;
}

.kb-table-row-hover
{
	background: #849DD4;
}

img.finalblow
{
	border: 1px solid #849DD4;
}

img.avatar
{
	border: 1px solid #333333
}

td.kl-loss
{
	color: #f90000;
}

a:link
{
	color: #849DD4;
}

a:visited
{
	color: #849DD4;
}

a:active
{
	color: #849DD4;
}

a:hover
{
	color: #849DD4;
}
.popup-table
{
	background-color:#39475F;
}
