@import "default.css";

html, body
{
  color: #cccccc;
  background-color: #000000;
}

.navigation, .main-table, #content
{
  background: #000000;
}

div.bar
{
  background: #750000;
  border-bottom: 1px #660a0a solid;
  border-right: 1px #660a0a solid;
}

div.bar-background
{
    background: #110000;
}

div.bar-red
{
	background: #550000;
	border-bottom: 1px #220000 solid;
	border-right: 1px #220000 solid;
}

#page-title, .block-header2
{
  border-bottom: 1px solid #cccccc;
}

.kb-table-header
{
  background: #140000;
}

/* + top-navi boxes */
.kb-table-row-odd, .kb-table-row-slot
{
  background: #250000;
}

.kb-table-row-even, .kb-table-row-destroyed
{ 
  background: #350000; 
} 
 
.kb-table-row-hover
{
  color: #dddddd;
  background: #450000;
}

/* border around final blow in killview */
img.finalblow
{
  border: 1px solid #cccccc;
}

a:link, a:visited, a:active, a:hover {
  color: #aa0000;
}
