@import "default.css";

html, body
{
	color: #fff9ff;
	background-color: #4e4652;
}

.navigation
{
	background: #4e4652;
}

.main-table
{
	border-left: 1px solid #4e4652;
	border-right: 1px solid #4e4652;
	border-top: 0px solid #4e4652;
	border-bottom: 0px solid #4e4652;
	background-color: #66606B;
}

input, button, select, textarea
{
	border: 1px solid #4e4652;
	font-size: 9px;
	background-color: #888088;
}

#content
{
	background: #66606B;
}

div.bar
{
	background: #ffffff;
	border-bottom: 1px #999099 solid;
	border-right: 1px #999099 solid;
}

#page-title
{
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.block-header
{
	color: #ffffff;
}

.block-header2
{
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}
.link
{
	padding-top: 5px;
	padding-bottom: 6px;
}

.kb-table, .kb-subtable
{
	color: #fff9ff;
}

.kb-table-header
{
	background: #4e4652;
}

.kb-table-row-odd
{
	background: #807680;
}

.kb-table-row-even
{
	background: #706670;
}

.kb-table-row-slot
{
	background: #807680;
}

.kb-table-row-destroyed
{
	background: #706670;
}

.kb-table-row-hover
{
	color: #ffffff;
	background: #554b55;
}

img.finalblow
{
	border: 1px solid #ffffff;
}
img.icon-hover
{
	border: 1px solid #554b55;
}

td.avatar-name, td.killmail
{
	color: #ffffff;
}

td.battleship
{
	background: #554b55;
}

.kb-date-header
{
	color: #ffffff;
}

.kb-contracts-header, .kb-campaigns-header, .kb-kills-header,
.kb-losses-header, .kb-contract-target-header
{
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.kl-kill-null, .kl-loss-null
{
	color: #ffffff;
}
td.kl-kill
{
	color: #00ee00;
}

.kl-loss
{
	color: #dd0000;
}

a:link,a:visited, a:active, a:hover
{
	color: #ffffff;
}

.counter
{
	border-color: #ffffff;
	margin-bottom: 10px;
}

.comment, .comment-button
{
	background-color: #807680;
	border-color: #807680;
	color: #ffffff;
}

#comments-wrap
{
	border-top: #ffffff thin solid;
	color: #ffffff;
}
.comment-text {
	border-bottom-color: #ffffff;
}
#countdown {
	color: #ffffff;
}
a.kb-shipclass:visited, a.kb-shipclass:link, a.kb-shipclass:active, a.kb-shipclass:hover {
	color: #ffffff;
}

a.kb-shipclass-hl:link, a.kb-shipclass-hl:active, a.kb-shipclass-hl:visited {
	color: #fff0ff;
}

.popup-table
{
	background-color:#999999;
}
.summarytable
{
	margin-top: 5px;
}
